body{
    background-color: lightpink;
}
canvas{

    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 25px;
}
@keyframes example
{
    0%{box-shadow: 1px 1px 38px red;}
    10%{box-shadow: 1px 1px 38px orange;}
    20%{box-shadow: 1px 1px 38px yellow;}
    30%{box-shadow: 1px 1px 38px  lightgreen;}
    40%{box-shadow: 1px 1px 38px lightblue;}
    50%{box-shadow: 1px 1px 38px purple;}
    60%{box-shadow: 1px 1px 38px indigo;}
    70%{box-shadow: 1px 1px 38px pink;}
    80%{box-shadow: 1px 1px 38px black;}
    90%{box-shadow: 1px 1px 38px coral;}
    100%{box-shadow: 1px 1px 38px gray;}
}
